
                <!DOCTYPE html>
                <html lang="en">
                    <head>
                        <meta charset="UTF-8">
                        <title> Error Report </title>
                    </head>
                    <body>
                        <h1> Errors and Alerts found in the file </h1>
                        <h2> Errors founded: </h2>
                        <p> <p>
*  Negative value for Fixed Demand from the customer CD_Arena</p><p>
*  Negative value for Fixed Demand from the customer BY_Conceição</p> </p>
                        <h2> 
Alerts founded: </h2>
                        <p> <p>
* Column StaBBtus is not a expected column in locations table</p><p>
* Name CD_Estrada is duplicated in Suppliers</p><p>
* Name CD_Estrada is duplicated with the same status in Locations</p><p>
* Name CD_Deodoro is duplicated in Customers</p><p>
*  Null value for Fixed Demand from the customer BY_Barbatana</p><p>
* Location BY_Conceição latitude is not in the correct format</p> </p>
                        
                    
                            <h4> Database is empty </h4>
                        
                                
                    </body>
                </html>

            