
                <!DOCTYPE html>
                <html lang="en">
                    <head>
                        <meta charset="UTF-8">
                        <title> Error Report </title>
                    </head>
                    <body>
                        <h1> Errors and Alerts found in the file </h1>
                        <h2> No errors were found </h2>
                        <p>  </p>
                        <h2> No alerts were found </h2>
                        <p>  </p>
                        
                    
                            <h1> Main statistcs for Greenfield analysis </h1>
                            <h3> Costumers fixed demands </h3>
                            <p> * The client BY_Barbatana has the highest fixed demand of 500.0 </p>
                            <p> * The client CD_Arena has the lowest fixed demand of 100.1 </p>
                            <p> * The sum of all fixed demands are: 1350.1 </p>
                            
                            <h3> Suppliers maximum supply </h3>
                            <p> * The supplier CD_Estrada has the highest supply of 2212.14 </p>
                            <p> * The client CD_Estrada has the lowest supply of 2212.14 </p>
                            <p> * The sum of all maximum supplies are: 2212.14 </p>
                            
                            <h3> Distance between Clients and Suppliers </h3>
                            <p> <p>* The mean distance between the customers and the supplier CD_Estrada is: 878.92 Km</p> </p>
                            <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>CD_Estrada</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>CD_Arena</th>
      <td>1376.384318</td>
    </tr>
    <tr>
      <th>BY_Barbatana</th>
      <td>1766.718220</td>
    </tr>
    <tr>
      <th>BY_Conceição</th>
      <td>189.037680</td>
    </tr>
    <tr>
      <th>CD_Deodoro</th>
      <td>873.419626</td>
    </tr>
    <tr>
      <th>BY_Conceição</th>
      <td>189.037680</td>
    </tr>
  </tbody>
</table>
                            
                            <h1> Position analysis between Costumers and Suppliers </h1>
                            
                            <img src="static/fig.jpeg" />
                            
                            <h1> Database </h1>
                            <h2> Customers </h2>
                            <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Name</th>
      <th>Fixed Demand</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>CD_Arena</td>
      <td>100.1</td>
      <td>-14.0613</td>
      <td>-49.5332</td>
    </tr>
    <tr>
      <th>1</th>
      <td>BY_Barbatana</td>
      <td>500.0</td>
      <td>-13.1500</td>
      <td>-45.9332</td>
    </tr>
    <tr>
      <th>2</th>
      <td>BY_Conceição</td>
      <td>300.0</td>
      <td>-19.8591</td>
      <td>-54.8066</td>
    </tr>
    <tr>
      <th>3</th>
      <td>CD_Deodoro</td>
      <td>150.0</td>
      <td>-10.3899</td>
      <td>-54.2793</td>
    </tr>
    <tr>
      <th>4</th>
      <td>BY_Conceição</td>
      <td>300.0</td>
      <td>-198.8591</td>
      <td>-54.8066</td>
    </tr>
  </tbody>
</table>
                            <h2> Suppliers</h2>
                            <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Name</th>
      <th>Maximum Supply</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>CD_Estrada</td>
      <td>2212.14</td>
      <td>-15.7176</td>
      <td>-62.3432</td>
    </tr>
  </tbody>
</table>
                        
                                
                    </body>
                </html>

            